.icon-ko{
	background-repeat: repeat;
}

.icon-map{
	background-image: url("/app/assets/images/icons/icon-map.png");
}

.icon-terrain{
	background-image: url("/app/assets/images/icons/icon-terrain.png");
}

i.preview-terreno{
	width: 32px;
	height: 32px;
	display: block;
}

.wrapper{
	position: relative;
	width: 100%;
	max-height: 100%;
	overflow: visible;
	width:900px;
}

.mapa{	
	position: relative;
	max-height: 32px;
	min-height: 32px;
}

.mapa-pixel{
	position: relative;
	width: 32px;
	min-height: 32px;
	max-height: 32px;
	float:left;
}

div.mapa-pixel img.objeto{
	position:absolute;
	z-index:1003;
}

div.auxiliar-editor{
	position: fixed;
	width: 177px;
	height: 90%;
	top: 50px;
	/*right: 0;*/
	/*bottom: 0;*/
	z-index: 1030;
    margin-bottom: 5px;
	padding: 5px;
	overflow: auto;
	
	-webkit-border-radius: 5px;
	
    background-color: #FFF;
}

div.auxiliar-editor.left{
	left: 5px;
}

div.auxiliar-editor.right{
	right:5px;
}

div.auxiliar-editor div.terreno-editor,
div.auxiliar-editor div.objeto-editor,
div.auxiliar-editor div.change-side{
	position: relative;
	width: 30px;
	min-height: 32px;
	max-height: 32px;
	float:left;
	margin:1px;
}

div.change-side{
	background-image: url('/app/assets/images/change-side.png');
}

div.auxiliar-editor div.terreno-editor.selecionado,
div.auxiliar-editor div.terreno-editor:hover,
div.auxiliar-editor div.objeto-editor.selecionado,
div.auxiliar-editor div.objeto-editor:hover,
div.auxiliar-editor div.change-side{
	position: relative;
	border: 1px solid #FF0000;
	margin:0px;
	cursor:pointer;
}

div.personagem{
	display: none;
}

div.mostra-acao{
	position: fixed;
	width: 33%;
	left: 33%;
	right: 0;
	bottom: 0;
	z-index: 1030;
    margin-bottom: 5px;
	padding: 5px;
	
	-webkit-border-radius: 5px;
	
    background-color: #FFF;
}

div.mostra-acao div{
	float:left;
}

.escondido{
	display:none;
}