.icon-ko{
	background-repeat: repeat;
}

.icon-map{
	background-image: url("/app/assets/images/icons/icon-map.png");
}

.icon-terrain{
	background-image: url("/app/assets/images/icons/icon-terrain.png");
}

i.preview-terreno{
	width: 30px;
	height: 30px;
	display: block;
}