div.personagem{
	position: relative;
	width: 32px;
	height: 32px;
	background-image: url('/app/assets/images/sprite/chris.png');
	background-repeat: no-repeat;
	margin-bottom:-30px;
	z-index:1000;
}

div.personagem.looking-down{
	background-position: 0px 0px;
}/*div.personagem.looking-down.animated{
	animation-name: personagemAnimacao;
    animation-duration: 400ms;
    animation-timing-function: steps(1);
}*/

div.personagem.looking-up{
	background-position: 0px -32px;
}/*div.personagem.looking-up.animated{
	animation-name: personagemAnimacao;
    animation-duration: 400ms;
    animation-timing-function: steps(1);
}*/

div.personagem.looking-right{
	background-position: 0px -64px;
}/*div.personagem.looking-right.animated{
	animation-name: personagemAnimacao;
    animation-duration: 400ms;
    animation-timing-function: steps(1);
}*/

div.personagem.looking-left{
	background-position: 0px -96px;
}/*div.personagem.looking-left.animated{
	animation-name: personagemAnimacao;
    animation-duration: 400ms;
    animation-timing-function: steps();
}*/

@keyframes personagemAnimacao {
	0% { background-position-x: -36px; }
	25% { background-position-x: -64px; }
	50% { background-position-x: -36px; }
	75% { background-position-x: -64px; }
}

div.pokemon{
	position: relative;
	width: 32px;
	height: 32px;
	margin-bottom:-32px;
	z-index:1000;
}